
.section {
  margin-bottom: 2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  background: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1 1;
  word-break: break-word;
}
.section-blue-bgcolor {
  background: linear-gradient(87deg, #172b4d, #1a174d) !important;
}
.section-fix-height {
  min-height: 335px;
  max-height: 335px;
}
.section-header {
  color: white;
  padding: 0.5rem;
  margin-bottom: 10px;
  font-size: 20px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.chart-container {
  padding: 1rem;
}
.contact-chip-container {
  overflow: auto;
  /* justify-content: space-between; */
  display: flex;
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 1rem;
}
.details > div.col-12.repo-name-heading {
  font-size: 2.75rem;
  font-weight: 600;
  color: #fff !important;
  margin-bottom: 1rem;
}
.details > div.col-12 {
  font-size: 18px;
  margin-bottom: 0.5rem;
}
.details strong {
  color: white;
}
