body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
  color: #8898aa;
  box-sizing: border-box;
}
.wrapper {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}
a,
a:hover {
  color: #8898aa;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}
.col-12,
.col-md-6,
.col-lg-3 {
  position: relative;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 576px) {
  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
a.canvasjs-chart-credit,
.canvasjs-chart-toolbar {
  display: none !important;
}
header a {
  text-decoration: none;
}

.star {
  background: linear-gradient(87deg, #f5365c, #f56036);
}
.fork {
  background: linear-gradient(87deg, #fb6340, #fbb140);
}
.watch {
  background: linear-gradient(87deg, #2dcecc, #2dce89);
}
.issues {
  background: linear-gradient(87deg, #5e72e4, #825ee4);
}
.info {
  background: linear-gradient(87deg, #1171ef, #11cdef);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.padding-1rem {
  padding: 1rem;
}

.error-box {
  background: #be1b1b !important;
  padding: 1rem;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}
