.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 1rem;
  min-height: 100px;
  background: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  max-height: 120px;
  min-height: 120px;
}
.left-section {
  justify-content: center;
  align-items: center;
  display: flex;
}
.fa {
  font-size: 2rem;
}

.icon-box {
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.heading {
  font-size: 18px;
  margin: 0;
  color: #8898aa;
  font-weight: 700;
  text-align: center;
}
.count {
  font-size: 24px;
  font-family: cursive;
  margin: 1rem 0rem;
  color: #000;
}
